@font-face {
    font-family: "Roboto-regular";
    src: url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "playfair-regular";
    src: url("../fonts/playfair/PlayfairDisplay-Regular.ttf") format("ttf"), url("../fonts/playfair/PlayfairDisplay-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "playfair-bold";
    src: url("../fonts/playfair/PlayfairDisplay-Bold.ttf") format("ttf");
    font-display: swap;
}
